nav a{font-size: 1.3rem;
background-color: rgba(255, 255, 255, 0.548);}
p{font-family: 'Inconsolata', monospace;}
.container{background-color: lightgray;}
.vidstup{margin-top: 2rem;
    margin-bottom: 2rem;}
h1{font-family: 'Source Code Pro', monospace;}
.model_3_text{margin-top: 2rem;}
.pershe{background-color: lightpink;
margin-top: 2rem;}
.druge{background-color: lightskyblue;}
.tri{background-color: lightseagreen;}
.chotiri{background-color: lightsalmon;}
.photo_model3{margin-top: 2rem;}
.logo{margin-left: 2.5rem;}
.photo_r{margin-top: 1rem;}
.zag{margin: 1rem;}
body{background-color: gray;}

